*#
*~
*.4ct
*.4tc
*.aux
*.bbl
*.blg
*.css
*.dvi
*.fdb_latexmk
*.fls
*.html
*.idv
*.idx
*.ilg
*.ind
*.lg
*.lof
*.log
*.lot
*.out
*.pdf
*.ps
*.synctex.gz
*.tmp
*.toc
*.vscode
*.xref

html

exercicios.dvi
exercicios.tex
exercicios_resolvidos.dvi
exercicios_resolvidos.tex
exercicios_todos.dvi
exercicios_todos.tex
exercicios_todos_com_exemplos.dvi
exercicios_todos_com_exemplos.tex
